.magazine-wrapper {
    display: flex;
}
.product-img {
    width: 70%;

    display: flex;
    flex-direction: column;
}

.main-img {
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 0px 15px 15px 15px;
}
.main-img img {
    width: 100%;
    height: 100%;
}

.thumbnails {
  display: flex;
  justify-content: center;
  position: relative;
  
}
.thumbnail {
  width: 18%;
  height: 75%;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    padding: 5px;
}
#fwd, #bwd {
  position: absolute;
  top: 25%;
  font-size: 20px;
  color: #9fa0a5;
}
#fwd {
  left: 92px;
}

/*if under screen size: */
@media screen and (max-width: 600px) {
    .magazine-wrapper {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .main-img {
        width: 80%;
       
    }
    .info{
        width: 100%;
        
    }
}

/* ================= */
  
  .prev:hover, .next:hover {
    color: grey;
  }
  
  .info{
    width: 30%;
  }
  
  .info> *{
    text-align: left;
    margin-top: -1.5%;
    margin-left: 3%;
    width: 95%;
    padding: 2%;
  }
  
  .info>p, .dispatch{
    font-size: 12px;
    margin-top: -5%;
  }
 
  .red{
    color: red;
  }
  .colours {
    height: 15%;
    margin-left: 3%;
  }
  
  .colours > div{
    float: left;
    margin-top: 3%;
    margin-right: 4%;
    width: 30px;
    height: 30px;
  }
  .grey{
    background-color: grey;
    border-radius: 50%;
    height:100%;
    width: 100%;
    border: black solid 1px;
  }
  .black{
    background-color: black;
    border-radius: 50%;
    height:100%;
    width: 100%;
  }
  .gold{
    background-color: gold;
    border-radius: 50%;
    height:100%;
    width: 100%;
  }
  .blue{
    background-color: blue;
    border-radius: 50%;
    height:100%;
    width: 100%;
  }
  
  .add-to-cart{
    background-color: black;
    color: white;
    height: 9%;
    width: 95%;
    text-align: center;
  }
  .add-to-cart:hover{
    background-color: #00C98C;
  }
  
  .deatils{
    border: black solid 1px;
    margin-top: 5px;
    height: 9%;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  
  
 
  